* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgb(44, 44, 44);
    background-attachment: fixed;
    position: relative;
}

body::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

header {
    width: 100%;
    padding: 19px 50px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background: linear-gradient(90deg, rgba(0,10,255,1) 0%, rgba(255,230,97,1) 68%);
}

header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 11px;
    font-weight: 900;
    transition: 3s;
}

.menu-link:hover {
    border-bottom: 3px solid #000aff;
}

.menu li:not(:last-child) {
    margin-right: 22px;
}

span {
    color: #FFE458;
}

.logo {
    text-align: left;
}

main {
    position: relative;
    padding: 50px 25px;
    min-height: 100vh;
    margin-top: 70px;
    background: radial-gradient(circle, rgba(174,179,238,1) 0%, rgba(96,96,96,1) 100%);
}

.container  {
    padding: 10px 25px;
    background: #ffe661;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
}

.box h1,p  {
    font-size: 14px;
    line-height: 14px;
    color: #000000;   
}

div p {
    padding-top: 5px;
}

.box-2 h1,p {
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    color: #000000;   
}

img {
    height: 200px;
    width: 300px;
    display: block;
    margin: 0 auto;
}

button {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 316px;
    height: 46px;
    border-radius: 15px;
    font-weight: 700;
    background: #FFE458;
    margin-bottom: 30px;
}

button a {
    color:black;
    text-decoration: none;
}


footer {
    text-align: center;
    background-color: #000;
    bottom: 0px;
    width: 100%;
    padding: 70px 20px;
}


footer address {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

footer a {
    margin: 8px 0 0;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Roboto";
    font-size: 14px;
    line-height: 24px;
}

footer p {
    color: #ffffff;
    /* font-size: 14px; */
}

footer .box_1 {
    margin-bottom: 0;
}